# {{ ansible_managed }}
<VirtualHost {{ interfaces|default('*') }}:{{ port|default('80') }}>
    ServerName {{ item.vhost }}

    DocumentRoot {{ docroot }}{{ item.docroot }}
    <Directory {{ docroot }}{{ item.docroot }}>
        Options -Indexes FollowSymLinks MultiViews
        AllowOverride All
        Order allow,deny
        allow from all
    </Directory>

    CustomLog ${APACHE_LOG_DIR}/access_{{ item.vhost }}.log combined
    ErrorLog ${APACHE_LOG_DIR}/error_{{ item.vhost }}.log
</VirtualHost>